@model EditUserViewModel
@{ 
    ViewBag.Userrole = Model.UserRoles;
}
<form asp-action="Edit" asp-controller="Home" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label">Логин</label>
        <input type="text" asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="email" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="State" class="control-label">Статус</label>
        <input type="text" asp-for="State" class="form-control" />
    </div>
    <div class="form-group">
        <label for="status" class="form-label">Изменить статус пользователю</label>
        <input name="status" type="radio" value="Active" checked="checked" />
        <span>Active</span>
        <input name="status" type="radio" value="Blocked" />
        <span>Blocked</span>
    </div>
    <div class="form-group">
        <label for="UserRoles" class="control-label">Роль пользователя</label>
        @foreach (string role in Model.UserRoles)
        {
            <input type="text" name="userRoles" value="@role" />
        }
    </div>
    <div class="form-group">
        <label for="newRole" class="form-label">Назначить роль пользователю</label>
        <input name="newRole" type="radio" value="user" checked="checked" />
        <span>user</span>
        <input name="newRole" type="radio" value="admin"/>
        <span>admin</span>
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
    </div>
</form>