@model EditUserViewModel
<form asp-action="Edit" asp-controller="Home" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label">Логин</label>
        <input type="text" asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="email" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="State" class="control-label">Статус</label>
        <input type="text" asp-for="State" class="form-control" />
    </div>   
    <div class="mb-3">
        <label for="enabledSelect" class="form-label">Роли пользователя</label>
        <select id="enabledSelect" class="form-select">
            @foreach (string role in Model.UserRoles)
            {
                <option>@role</option>
            }

        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
    </div>
</form>