<!DOCTYPE HTML>
<html>
<head>
    @await Html.PartialAsync("MetaTagsPartial")
    @await Html.PartialAsync("CssPartial") 
</head>
<body class="is-preload">
    <div id="page-wrapper">
        <!-- Header -->
        @await Html.PartialAsync("HeaderPartial")
        <!-- Main -->
        <section class="wrapper style1">
            <div class="container">
                <div class="row main-row">
                    <div class="col-8 col-12-medium">
                        @RenderBody();
                    </div>
                        @await Html.PartialAsync("SidebarPartial")                    
                </div>
            </div>
        </section>
        <!-- Footer -->
        @await Html.PartialAsync("FooterPartial")

    </div>
    @await Html.PartialAsync("ScriptsPartial") 
</body>
</html>