
<div id="header">    
    <nav id="nav">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
            <li>@Html.ActionLink("Информация", "About", "Home")</li>
            <li>@Html.ActionLink("Связаться", "Contact", "Home")</li>
            @await Component.InvokeAsync("DropDown")
            @await Html.PartialAsync("_LoginPartial")
        </ul>       
    </nav>
</div>