@model IQueryable<Collection>
@{ 
    ViewBag.Title = "Частные коллекции";
}
    <div id="content">
    <!-- Content -->
        <article>
            <header>
                <h2>Частные коллекции</h2>
                <h3>Просматривайте, создавайте, редактируйте!</h3>
            </header>
            <span class="image featured">
                <img src="images/banner.jpg" alt="" />
            </span>
            <div class="div-box">
                @await Component.InvokeAsync("DropDown")
                <a asp-controller="Collections" asp-action="AddCollection" asp-route-id="">Добавить коллекцию</a>
            </div>
            @if (!Model.Any())
            {<h3>Ещё нет коллекций для просмотра</h3>}
            else
            {
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                    @foreach (var coll in Model)
                    {
                    <div class="feature col">
                        <div class="feature-icon bg-primary bg-gradient">
                            <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
                        </div>
                        <h2>@coll.Name</h2>
                        <p>Автор: @coll.User.UserName</p>
                        <p>@coll.DateCreating</p>
                        <p>@coll.Description</p>
                        <a href="#" class="icon-link">
                            Подробнее
                            <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
                        </a>
                    </div>
                    }
                </div>
            }

        </article>
    </div>
