@model DataManager
<div class="col-4 col-12-midium">
    <div id="sidebar">
        <!-- Sidebar -->
        <section>
            <div class="Widget widget tagcloud">
                <h4 class="WidgetHeader widget-header">Теги</h4>
                <div class="WidgetContent widget-content">
                    <ul>
                        @if (Model.Tags.GetAllTags().Any())
                        {
                            @foreach (Tag tag in Model.Tags.GetAllTags())
                            {
                                <li>
                                    <a href="" class="smallest" title="@tag.TextTag">@tag.TextTag</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <h3>Collections</h3>
            <ul class="links">
                @foreach (Theme theme in Model.Themes.GetThemes())
                {
                    <li><a href="#">@theme.Name</a></li>
                }

            </ul>
        </section>
    </div>
</div>
