@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model AddCollectionViewModel
@{
    ViewData["Title="] = "Добавление коллекции";
    Model.UserId = "";
}
<h1>Добавить коллекцию</h1>
<form method="post" asp-controller="Collections" asp-action="AddCollection">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" value="@Model.UserId" asp-for="UserId" />
    <input type="hidden" value="@Model.ThemeId" asp-for="ThemeId"/>
    <div>
        <label asp-for="ThemeCollection">Тема коллекции</label><br />
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Тема коллекции
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
        <input asp-for="ThemeCollection" />
        <span asp-validation-for="ThemeCollection"></span>
    </div>
    <div>
        <label asp-for="NameCollection">Название коллекции</label><br />
        <input asp-for="NameCollection" />
        <span asp-validation-for="NameCollection"></span>
    </div>
    <div>
        <label asp-for="DescriptionCollection">Краткое описание</label><br />
        <input asp-for="DescriptionCollection" />
        <span asp-validation-for="DescriptionCollection"></span>
    </div>
    <div>
        <label asp-for="PathImg">Добавить картинку</label><br />
        <input asp-for="PathImg" />
        <span asp-validation-for="PathImg"></span>
    </div>
    <div>
        <input type="submit" value="Создать" />
    </div>
</form>
<script>

</script>